# Frontend variables
VITE_SPOTIFY_CLIENT_ID=

# Cloudflare credentials (for deployment)
CLOUDFLARE_API_TOKEN=your-cloudflare-api-token-here
CLOUDFLARE_ACCOUNT_ID=your-cloudflare-account-id-here

# Spotify credentials (for worker)
SPOTIFY_CLIENT_ID=your-spotify-client-id-here
SPOTIFY_CLIENT_SECRET=your-spotify-client-secret-here
SPOTIFY_REFRESH_TOKEN=your-spotify-refresh-token-here

# Playlist configuration
PLAYLIST_ID=5MpC0JxMZJ7bIJPwPFCtNv
